[submodule "lib/uniswap-hooks"]
	path = lib/uniswap-hooks
	url = https://github.com/OpenZeppelin/uniswap-hooks
[submodule "lib/hookmate"]
	path = lib/hookmate
	url = https://github.com/akshatmittal/hookmate
